body {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.fixed-container {
	width: 1160px;
	margin: 0 auto;
}

.top-bar {
	background-color: yellow;
	display: inline-block;
	width: 100%;
}

	.logo {
		float: left;
	}

	.nav-sign-bar {
		float: right;
		display: flex;
	}

		.menu {
			margin: 10px 20px;
		}

			.menu a+a {
				margin-left: 20px;
				text-decoration: none;
			}

			.menu a {
				text-decoration: none;
			}

		.sing-in, .sing-up {
			background-color: white;
			text-transform: uppercase;
			padding: 9px 20px 10px;
			border-radius: 22px;
		}

		.sing-in {
			border: 2px solid #BC9CFF;
			color: #BC9CFF;
		}

		.sing-up {
			border: none;
			background-color: #BC9CFF;
			color: white;
		}