/*@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Regular.eot');
	src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Bold.eot');
	src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1 {
	font-weight: 700;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

h2 {
	font-weight: 700;
	font-size: 19px;
	margin: 0;
	padding: 0;
}

h3 {
	font-weight: 700;
	font-size: 12px;
	margin: 0;
	padding: 0;
	display: inline;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

img {
	margin: 0;
	padding: 0;
}

.fixed-container {
	width: 1160px;
	margin: 0 auto;
}

/*------------------------------ТОП БАР----------------------------------------------------*/

.top-bar {
	display: inline-block;
	width: 100%;
	padding: 15px 0 12px;
}

	.logo {
		float: left;
	}

	.nav-sign-bar {
		float: right;
		display: flex;
	}

		.menu {
			margin: 10px 0;
		}

			.menu a+a {
				margin-left: 20px;
				text-decoration: none;
			}

			.menu a {
				text-decoration: none;
				color: rgba(31, 32, 65, 0.5);
			}

			.menu a:first-child {
				font-size: 14px;
				font-weight: 700;
				color: rgba(31, 32, 65, 0.75);
			}

			.menu img {
				margin-right: 20px;
				margin-left: 6px;
			}

		.sing-in, .sing-up {
			text-transform: uppercase;
			border-radius: 22px;
		}

		.sing-in:active, .sing-up:active, .sing-in:focus, .sing-up:focus {
			outline: none;
		}

		.sing-in {
			background-color: white;
			border: 2px solid #BC9CFF;
			color: #BC9CFF;
			margin: 0;
			padding: 6px 19px 8px 18px;
		}

		.sing-up {
			border: none;
			background-color: #BC9CFF;
			color: white;
			margin: 0;
			margin-left: 16px;
			padding: 8px 20px 10px;
		}

		.sign-prof {
			border-left: 1px solid rgba(31, 32, 65, 0.1);
			padding-left: 20px;
			padding-top: 10px;
			display: none;
		}

			.sign-prof a {
				text-decoration: none;
			}

/*------------------------------МЕИН КОНТЕЙНЕР----------------------------------------------------*/

.main-box {
	position: relative;
}

.room-search {
	position: absolute;
	top: 70px;
	left: 140px;
	width: 320px;
	background-color: #fff;
	padding: 40px 30px 30px;
	border-radius: 4px;
}

.arrival {
	display: flex;
	justify-content: space-between;
}

.arrive {
	display: flex;
	flex-direction: column;
	width: 150px;
}

.guests {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.slide {
	width: 100%;
}

/*------------------------------МЕИН КОНТЕЙНЕР----------------------------------------------------*/

/*------------------------------ФУТЕР----------------------------------------------------*/

.footer-bar {
	margin: 100px 0;
}

.footer-bar .logo {
	float: none;
	margin-bottom: 20px;
}

.footer-bar {
	display: flex;
}

.first-footer {
	width: 260px;
	margin-right: 40px;
}

.booking-footer {
	color: rgba(31, 32, 65, 0.75);
}

.footer-menu {
	margin: 4px 0 0 0;
	padding: 0;
	list-style: none;
}

.footer-menu h3{
	text-transform: uppercase;
}

.footer-menu li{
	margin-top: 21px;
}

.footer-menu li a {
	text-decoration: none;
	color: rgba(31, 32, 65, 0.5);
}

.second-footer, .third-footer, .fourth-footer {
	width: 200px;
}

.fifth-footer {
	width: 260px;
}

.footer-email {
	width: 100%;
	border: 1px solid black;
	border-radius: 4px;
}

.footer-email-text {
	color: rgba(31, 32, 65, 0.75);
}

.footer-email input[type='email'] {
	border: none;
	width: calc(100% - 15px - 31px);
	padding: 12px 0 8px;
	margin-left: 15px;
}

.footer-email input[type='email']::placeholder {
	color: rgba(31, 32, 65, 0.25);
}

.footer-email input[type='email']:active,.footer-email input[type='email']:focus, .footer-email input[type='image']:active, .footer-email input[type='image']:focus {
	outline: none;
}

.footer-email input[type='image'] {
}

.copyright-bar {
	border-top: 1px solid rgba(31, 32, 65, 0.05);
}

.copyright {
	float: left;
	margin: 26px 0;
	color: rgba(31, 32, 65, 0.75);
}

.socicons {
	float: right;
	margin: 23px 0;
}

.socicons a {
	margin-left: 20px;
}